@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    line-height: 1.7;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    @apply text-gray-800;
    line-height: 1.7;
  }

  /* 본문 텍스트 */
  p {
    @apply mb-4 leading-relaxed;
  }

  /* 제목 */
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold leading-tight mb-4;
  }

  /* 특정 컨테이너의 텍스트 */
  .prose {
    @apply leading-relaxed;
  }
}

* {
  user-select: auto;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
