@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    line-height: 1.7;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    @apply text-gray-800;
    line-height: 1.7;
  }

  /* 본문 텍스트 */
  p {
    @apply mb-4 leading-relaxed;
  }

  /* 제목 */
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold leading-tight mt-4 mb-4;
  }

  /* 특정 컨테이너의 텍스트 */
  .prose {
    @apply leading-relaxed;
  }
}

* {
  user-select: auto;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Quill Editor Styles */
.ql-editor h1 {
  font-size: 1.8em !important;
  font-weight: bold !important;
}

.ql-editor h2 {
  font-size: 1.5em !important;
  font-weight: bold !important;
}

.ql-editor h3 {
  font-size: 1.1em !important;
  font-weight: bold !important;
}

.ql-editor h4 {
  font-size: 1.05em !important;
  font-weight: bold !important;
}

.ql-editor h5 {
  font-size: 1em !important;
  font-weight: bold !important;
}

.ql-editor h6 {
  font-size: 1em !important;
  font-weight: bold !important;
}

.ql-editor .ql-size-small {
  font-size: 0.875em !important;
}

.ql-editor .ql-size-large {
  font-size: 1.25em !important;
}

.ql-editor .ql-size-huge {
  font-size: 1.5em !important;
}
